[submodule "lib/dist/i2pd"]
	path = lib/dist/i2pd
	url = https://github.com/vovasty/i2pd.git
[submodule "lib/dist/ios-cmake"]
	path = lib/dist/ios-cmake
	url = https://github.com/vovasty/ios-cmake.git
[submodule "lib/dist/OpenSSL-for-iPhone"]
	path = lib/dist/OpenSSL-for-iPhone
	url = https://github.com/x2on/OpenSSL-for-iPhone.git
