[submodule "i2pdcpp/vendor/OpenSSL"]
	path = i2pdcpp/vendor/OpenSSL
	url = https://github.com/krzyzanowskim/OpenSSL.git
[submodule "i2pdcpp/vendor/Apple-Boost-BuildScript"]
	path = i2pdcpp/vendor/Apple-Boost-BuildScript
	url = https://github.com/vovasty/Apple-Boost-BuildScript
